<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/script.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/keycloak-js@latest/dist/keycloak.min.js"></script>
</head>
<body>
  <div class="bubbles" aria-hidden="true">
    <div class="bubble b1"></div>
    <div class="bubble b2"></div>
  </div>

  <main class="card" role="main" aria-labelledby="signin-title">
    <div id="clock">
      <div class="time" id="time">00:00</div>
      <div class="date" id="date">-- -- ----</div>
    </div>

    <div class="avatar" aria-hidden="true">
      <img src="/static/profile.jpg" alt="Avatar" />
    </div>

    <div class="user" id="user">Vous n'êtes pas encore connecté, redirection ...</div>
    <button class="btn" id="logoutBtn">Se déconnecter</button>
  </main>
  <script>
    const keycloak = new Keycloak({
      url: "http://localhost:8090", // URL du serveur Keycloak
      realm: "webapp", // Nom du realm précédemment créé
      clientId: "webapp-frontend", // Nom du client frontend
    });
    keycloak.init({ onLoad: "login-required" })
            .then(async (authenticated) => { // Action lorsque le standard flow est terminé :
              if (authenticated) {
                // 1. Appel GET sur /api/account avec l'access token dans le header "Authorization"
                const response = await fetch("/api/account", {
                  method: "GET",
                  headers: {
                    "Authorization": `Bearer ${keycloak.token}`
                  }
                });
                const data = await response.json();

                // 2. Afficher `Bienvenue ${keycloak.tokenParsed.email}, balance : {...} €`
                document.getElementById("user").textContent = response.ok
                  ? `Bienvenue ${keycloak.tokenParsed.email}, balance : ${data.balance} €`
                  : `Bienvenue ${keycloak.tokenParsed.email}, erreur : ${data.error}`;

                // 3. Appeler keycloak.logout() au clic sur le button[id="logoutBtn"]
                document.getElementById("logoutBtn").addEventListener("click", () => {
                  keycloak.logout();
                });
              }
            })
            .catch((error) => {
              console.error("Failed to initialize Keycloak :", error);
            });
  </script>
</body>
</html>
